body{
	background-image: url("https://media1.giphy.com/media/1iTHo2aLKHaJw1DW/giphy.gif?cid=3640f6095c0186936a794871594339e2") ;
}
title{
	font-size: 200px;
	color:blue;
}
h1 {
	font-size: 50px;
	color: blue;
}
